<div class="row">
    <div class="col-md-12">
  
      <h2>Listado General</h2>
  
      <table class="table">
        <thead>
          <tr>
            <th>Total Administradores</th>
            <th>Total Clientes</th>
            <th>Total Fotos</th>
            <th>Total Ordenes</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <th><%=totalAdministradores%></th>
                <th><%=totalClientes%></th>
                <th><%=totalFotos%></th>
                <th><%=totalOrdenes%></th>            
            </tr>
        </tbody>
      </table>
    </div>
  
  </div>
  
